*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62%;
}

.main{
    background-color: rgb(160, 119, 75, 0.4);
    padding-top: 8rem;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: justify;
    max-height: 120rem;
    min-height: 76.3rem;
}

.main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main h2{
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
}

.main .produto{
    justify-content: center;
    display: flex;
    width: 50%;
}

.main .produto p{
    padding: 1rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.main .produto p:nth-child(2){
    font-size: 1.5rem;
    font-weight: bold;

}

.main .produto p:nth-child(3){
    font-size: 1.5rem;
    font-weight: bold;
}

.main .imagens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.main .imagens img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 1rem;
    margin: 1rem;
}